@import "tailwindcss";

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-wave: wave 2.5s ease-in-out infinite;

  @keyframes wave {

    0%,
    100% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(25deg);
    }

    40% {
      transform: rotate(-10deg);
    }

    60% {
      transform: rotate(20deg);
    }

    80% {
      transform: rotate(-5deg);
    }
  }
}

:root {
  --bg: #0a0a0f;
  --surface: #13131a;
  --pa-bg: #808080;
  --surface2: #1c1c28;
  --border: #2a2a3d;
  --accent: #7c3aed;
  --accent2: #06b6d4;
  --accent3: #f59e0b;
  --text: #e8e8f0;
  --muted: #888899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  color: var(--text);
  font-family: 'DM Mono', monospace;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Syne', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 3px;
}

.gradient-text {
  background: linear-gradient(135deg, #7c3aed, #06b6d4, #f59e0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: marquee 18s linear infinite;
}

.blob {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: blob-morph 8s ease-in-out infinite;
}

@keyframes blob-morph {

  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  33% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  66% {
    border-radius: 20% 60% 60% 40% / 70% 30% 50% 50%;
  }
}


.wave-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2.5s ease-in-out infinite;
}